<h2>Hello World!</h2>
<p>
	To test this app you need to go to 
	<li>
		<ul>
		/users - "to create new users and see the existing users"
	    </ul>
	    <ul>
		/rails/conductor/action_mailbox/inbound_emails - "to check about the inbound mail feature"
	    </ul>
</li>
</p>
